footer {

	height: 100px;
	margin-top: 100px;
	background: black;
	text-align: center;
	color: white;
	vertical-align: middle;
	font-family: "Homer Simpson", cursive;
	font-size: 20px;
	padding: 20px;
}

#informacion {

	width: 904px;
	margin: auto;
	margin-top: -300px;
	margin-right: 100px;
	font-family: "Homer Simpson", cursive;
	font-size: 20px;
}

body {
	background-image: url("images.jpg");
}

#principal {
	background: white;
	width: 1704px;
	margin: auto;
}

#ladoIzquierdo {
	width: 600px;
	margin: 30px;
	padding-top: 100px;
	font-family: "Homer Simpson", cursive;
	font-size: 20px;
	text-align: right;
}
#ladoIzquierdo img {

	margin-right: 400px;
	margin-top: -420px;
	width: 200px;
	height: 200px;
}

#ladoIzquierdo p {
	font-size: 28px;
}

h2 {
	color: #336633;
}
h3 {
	color: #33CC33;
}
#correo {
	margin-bottom: -10px;
}

